<!DOCTYPE html>
<!--[if IE 10]><!--> <html class="no-js ie10" lang="en"> <!--<![endif]-->
<html class="no-js" lang="en">
<head>

  <!-- Set js class -->
  <script>document.documentElement.className = document.documentElement.className.replace("no-js","js");</script>

  <!--FontAwesome-->
  <script src="https://use.fontawesome.com/1a9a355d40.js"></script>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">

  <title>{{entry.title}}</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="home" href="{{ siteUrl }}" />

  <!-- Stylesheet -->
  <link rel="stylesheet" href="../assets/css/main.css">
  <style>
    .entry__color{
      background: {{ entry.primaryColor }} {% for image in entry.headerImage %} url({{ image.getUrl() }}) {% endfor %}; 
      background-position: right bottom; 
      background-size: contain; 
      background-repeat: no-repeat;
    }

    @media only screen and (min-width: 620px) {
      .entry__color{
        background-size: 70%;
      }
    }
    
    @media only screen and (min-width: 1255px){
      .entry__color {
        background-size: auto 575px;
      }
    }

  </style>

  <!-- Fonts -->
  <!-- Typekit here -->

  <!-- Theme colours and icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="../assets/images/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../assets/images/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../assets/images/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/images/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../assets/images/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../assets/images/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../assets/images/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../assets/images/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/images/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="../assets/images/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../assets/images/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="apple-mobile-web-app-title" content="">
  <meta name="application-name" content=""/>
</head>
<body class="gridtest">
  
  <!-- Browser upgrade -->
  <!--[if lte IE 10]>
    <p class="browserupgrade">You are using an outdated browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
    <header class="container container--navigation" role="banner">
      <div  class="row header">
        
        <div class="item header__brand">
          <div class="nav__toggle">
                <img class="nav__button--invert" src="../assets/images/nav_invert.png">  
          </div>

          <div class="header__logo">
              <a href="/" class="logo">
                <img class="site-logo" src="../assets/images/logo_invert.png">
              </a>    
          </div>
        </div>
      
      
        <div class="item navigation">
            <nav class="header__nav" id="nav">
              <ul class="nav--primary" role="navigation">
                <li class="nav__item active--invert"><a class="nav__link white" href="/work">Work</a></li>
                <li class="nav__item"><a class="nav__link white" href="/about">About</a></li>
                <li class="nav__item"><a class="nav__link white" href="/contact">Contact</a></li>
              </ul>
            </nav>
          </div>
      </div>
      
    </header>

  <div class="container entry__top">
    <div class="row">

      <div class="item item--twothirds top__headline">
        <h2 class="entry__title">{{ entry.mainHeading }}</h2>
        <p class="entry__summary white">{{ entry.topSummary }}</p>
        <svg height="2" width="20">
          <line x1="0" y1="0" x2="20" y2="0" class="work__line"/>
        </svg>
      </div>

    </div>
  </div>
  
  <div class="entry__color" style="" >

  </div>

  <div class="container work__page">
    <div class="row work__topline">

      <div class="item entry__header--holder">
        <h3 class="entry__header"> {{ entry.bodyHeader }}</h3>
      </div>

    </div>

    {% cache %}

    <div class="row work__content">
      <div class="item item--third entry__stats">
        <b>{{ entry.leftHeading1 }}</b>
        {{ entry.leftContent1 }}
        <b>{{ entry.leftHeading2 }}</b>
        <p>{{ entry.leftContent2 }}</p>
        <b>{{ entry.leftHeading3 }}</b>
        <p>{{ entry.leftContent3 }}</p>
      </div>
      <div class="item item--twothirds entry__body">
        {{ entry.body }}
      </div>
    </div>
  </div>
  
  <div class="images">
    <div class="entry__images" style="background: {% for image in entry.projectImage1 %} url({{ image.getUrl() }}) {% endfor %};  background-position:center center; background-size: cover; background-repeat: no-repeat;"></div>

    <div class="entry__images" style="background: {% for image in entry.projectImage2 %} url({{ image.getUrl() }}) {% endfor %}; background-position:center center; background-size: cover; background-repeat: no-repeat;"></div>

    <div class="entry__images" style="background: {% for image in entry.projectImage3 %} url({{ image.getUrl() }}) {% endfor %}; background-position:center center; background-size: cover; background-repeat: no-repeat;"></div>
  </div>

  <div class="row button--container">
    <a href="/work"><button class="btn--secondary">Back to Projects</button></a>
  </div>

  <div class="container">
    <div class="row footer">
      <div class="item footer__social">
        <a href="https://twitter.com/mattgibbs69"><i class="fa fa-twitter fa-fw fa-lg social__icon" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/mattgibbs69"><i class="fa fa-instagram fa-fw fa-lg social__icon" aria-hidden="true"></i></a>
        <a href="https://uk.linkedin.com/in/m4ttg1bbs"><i class="fa fa-linkedin fa-fw fa-lg social__icon" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="item footer__copyright">
        <footer>
        <p class="copyright"><small>&copy; Matt Gibbs <script>document.write(new Date().getFullYear())</script></small></p>
        </footer>
      </div>
    </div>
  </div>

  {% endcache %}

  <div class="breakpoint"></div>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  <!-- Javascript -->
  <script src="../assets/js/load.js"></script>

</body>
</html>