// Footer
// --------------------------------------------------

.footer {
  border-top: $base-border;
  background-color: #fff;
  padding-top:.25em;
  text-align:center;

  p {
    margin-bottom: 0;
  }

  @include media($medium) {
    
  }
}

.footer__social {
  margin-top: $gutter-width;
  margin-bottom: .5em;
  
  @include media($medium) {
    text-align: left;
    margin-bottom:1em;
    margin-left:0;
    padding-left:0;
  }

  @include media($large) {
    margin-top: $gutter-width-l;
  }
}

.footer__copyright {
  margin-bottom: 0;
  text-align:center;
  font-size:.8em;
  margin-left:0;
  padding:0;

  @include media($medium){
    text-align:left;
  }
}

.social__icon{
  @include transition(all 0.3s);
  cursor: pointer;
  margin: 0 .25em;

  &:hover{
    color: $brand-color;
  }

  @include media($medium){
    &:first-of-type{
      margin-left:0;
      padding-left:0;
    }
  }
}