// Index
// --------------------------------------------------

.top__headline {
  @include transition(all 0.3s);
  padding-right: 15%;
  margin: 0 0 1em 0;
  padding-left:0;

  @include media-mid($small, $xsmall) {
    
    padding-right:25%;

  };

  @include media($small) {
    font-size:1.2em;
  }

  @include media($medium) {
    padding-right:20%;
    font-size:1.1em;
  }

  @include media ($large){
    margin: .5em 0 1em;
    font-size:1.3em;
  }
}

.white {
	color: #fff !important;
}

.projects{
  @include media($small) {
    @include flex-direction(row);
  } 
}

.project {
  @include transition(all 0.3s);
	height:9em;
	padding:.5em 1em 1em 0em;
	line-height:0.4em;
	margin:0;
  cursor:pointer;
	max-width: 100%;

  @include media(375px){
    height:13em;
    font-size: $base-font-size;
    padding:1em 1em 1em 0em;
  }

  @include media(425px){
    height:15em;
  }

	@include media($small) {
    @include flex-basis(100%);
    max-width: 100%;
    height:18em;
    box-shadow: none;
    text-shadow: none;
  }

  @include media(620px){
    height:24em;
  }

  @include media($medium){
    @include flex-basis(50%);
    max-width: 50%;
    height:18em;
  }

  @include media($large) {
    height:14em;
    @include flex-basis(33.3333%);
    max-width: 33.3333%;
  }

  @include media($xlarge) {
    height:17em;
    @include flex-basis(33.3333%);
    max-width: 33.3333%;
  }
	
}

.project__description{
  @include transition(all 0.3s);
  width:12em;
  color:#fff;
  padding:0.5em 0 .5em .8em;
  margin-left:0;
  font-size: $base-font-size*0.8;

  @include media(375px){
    padding:0 0 .5em 1em;
  }
  
  @include media(425px){
    font-size:$base-font-size;
  }

  @include media($small){
    font-size:$base-font-size;
  }


  @include media($medium){
    font-size: $base-font-size;
    background: rgba(255,255,255,1);
    color:#000;
    opacity:0;
    overflow: hidden;

    .desc--visible & {
      opacity:1;
      width:12em;
      padding:.5em 0 .5em 2em;
    }
  }
}

.project__line{
  stroke:rgb(255,255,255);
  stroke-width:2;
  
  @include media($medium){
    stroke:rgb(0,0,0);
  }
}

