<!DOCTYPE html>
<!--[if IE 10]><!--> <html class="no-js ie10" lang="en"> <!--<![endif]-->
<html class="no-js" lang="en">
<head>

  <!-- Set js class -->
  <script>document.documentElement.className = document.documentElement.className.replace("no-js","js");</script>

  <!--FontAwesome-->
  <script src="https://use.fontawesome.com/1a9a355d40.js"></script>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">

  <title>Portfolio - MG</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="home" href="{{ siteUrl }}" />

  <!-- Stylesheet -->
  <link rel="stylesheet" href="assets/css/main.css">

  <!-- Fonts -->
  <!-- Typekit here -->

  <!-- Theme colours and icons -->
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
  <meta name="apple-mobile-web-app-title" content="">
  <meta name="application-name" content=""/>
  <meta name="theme-color" content="#">
</head>
<body class="gri-test">
  
  <!-- Browser upgrade -->
  <!--[if lte IE 10]>
    <p class="browserupgrade">You are using an outdated browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
    <header class="container container--navigation" role="banner">
      <div  class="row header">
        
        <div class="item header__brand">
          <div class="nav__toggle">
                <img class="nav__button" src="assets/images/nav.png">  
          </div>

          <div class="header__logo">
              <a href="index.html" class="logo">
                <img class="site-logo" src="assets/images/logo.png">
              </a>    
          </div>
        </div>
      
      
        <div class="item navigation">
            <nav class="header__nav" id="nav">
              <ul class="nav--primary" role="navigation">
                <li class="nav__item"><a class="nav__link" href="work.html">Work</a></li>
                <li class="nav__item"><a class="nav__link" href="about.html">About</a></li>
                <li class="nav__item"><a class="nav__link" href="contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
      </div>
      
    </header>

  <div class="container">
    <div class="row">

      <div class="item top__headline">
        <h2>About Me</h2>
        <h4>I've done many things - some of them uninteresting - most of them legendary.</h4>
      </div>

      <div class="item item--third picture"></div>
    </div>
  </div>
      
  <div class="container work__page">

    <div class="row work__content">
      <div class="item item--third entry__stats">
        <b>Current Employer</b>
        <p><a href="http://www.inktrap.co.uk">Inktrap</a></p>
        <b>Education</b>
        <p>2nd Year Digital Design BSc @ Brunel University</p>
        <b>Skills</b>
        <p>Sketch, Invision, UI, UX, Adobe Suite, HTML, CSS, jQuery, PHP, SQL, Web Design, Photography</p>
      </div>
      <div class="item item--twothirds entry__body">
        <p>This was completed as an assignment for my Design for Mobile module at university. The brief was very open – create an app for a smartphone. I have an iPhone so I decided to design for what I knew, and what I could test myself.</p>

        <p>The idea of the app is now something I am pursuing in the real world – I am starting to learn to code in Swift, and have acquired the social media accounts. I intend to develop the app, and market it myself over the coming year. What you see here was created and exported entirely from Sketch – then entered into InVision to create the working prototype at the bottom of the page.</p>

        <p>Put simply, the app helps musicians to acquire business, and people who need talented artists to find them. The app allows people to post jobs, and post pay details, or expenses. They also include the skills they require, and what level they need them to be. The musician has a profile which includes all of this information.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row footer">
      <div class="item footer__social">
        <a href="https://twitter.com/mattgibbs69"><i class="fa fa-twitter fa-fw fa-lg social__icon" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/mattgibbs69"><i class="fa fa-instagram fa-fw fa-lg social__icon" aria-hidden="true"></i></a>
        <a href="https://uk.linkedin.com/in/m4ttg1bbs"><i class="fa fa-linkedin fa-fw fa-lg social__icon" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="item footer__copyright">
        <footer>
        <p class="copyright"><small>&copy; Matt Gibbs <script>document.write(new Date().getFullYear())</script></small></p>
        </footer>
      </div>
    </div>
  </div>

  <div class="breakpoint"></div>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  <!-- Javascript -->
  <script src="assets/js/load.js"></script>

</body>
</html>