<!DOCTYPE html>
<!--[if IE 10]><!--> <html class="no-js ie10" lang="en"> <!--<![endif]-->
<html class="no-js" lang="en">
<head>

  <!-- Set js class -->
  <script>document.documentElement.className = document.documentElement.className.replace("no-js","js");</script>

  <!--FontAwesome-->
  <script src="https://use.fontawesome.com/1a9a355d40.js"></script>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">

  <title>Portfolio - MG</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="home" href="{{ siteUrl }}" />

  <!-- Stylesheet -->
  <link rel="stylesheet" href="assets/css/main.css">

  <!-- Fonts -->
  <!-- Typekit here -->

  <!-- Theme colours and icons -->
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
  <meta name="apple-mobile-web-app-title" content="">
  <meta name="application-name" content=""/>
  <meta name="theme-color" content="#">
</head>
<body class="gridtest">
  
  <!-- Browser upgrade -->
  <!--[if lte IE 10]>
    <p class="browserupgrade">You are using an outdated browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
    <header class="container container--navigation" role="banner">
      <div  class="row header">
        
        <div class="item header__brand">
          <div class="nav__toggle">
                <img class="nav__button--invert" src="assets/images/nav_invert.png">  
          </div>

          <div class="header__logo">
              <a href="/" class="logo">
                <img class="site-logo" src="assets/images/logo_invert.png">
              </a>    
          </div>
        </div>
      
      
        <div class="item navigation">
            <nav class="header__nav" id="nav">
              <ul class="nav--primary" role="navigation">
                <li class="nav__item active--invert"><a class="nav__link white" href="/work">Work</a></li>
                <li class="nav__item"><a class="nav__link white" href="/about">About</a></li>
                <li class="nav__item"><a class="nav__link white" href="/contact">Contact</a></li>
              </ul>
            </nav>
          </div>
      </div>
      
    </header>

  <div class="container entry__top">
    <div class="row">

      <div class="item item--twothirds top__headline">
        <h2 class="entry__title">Cadenza</h2>
        <p class="entry__summary white">An application and Invision protoype connecting musicians to their next gigs.</p>
        <svg height="2" width="20">
          <line x1="0" y1="0" x2="20" y2="0" class="work__line"/>
        </svg>
      </div>

    </div>
  </div>
  
  <div class="entry__color">

  </div>

  <div class="container work__page">
    <div class="row work__topline">

      <div class="item entry__header--holder">
        <h3 class="entry__header">An application and Invision protoype connecting musicians to their next gigs.</h3>
      </div>

    </div>

    <div class="row work__content">
      <div class="item item--third entry__stats">
        <b>Module</b>
        <p>Mobile Application Design</p>
        <b>Grade Received</b>
        <p>A</p>
        <b>Skills Required</b>
        <p>Sketch, Invision, UI, UX</p>
      </div>
      <div class="item item--twothirds entry__body">
        <p>This was completed as an assignment for my Design for Mobile module at university. The brief was very open – create an app for a smartphone. I have an iPhone so I decided to design for what I knew, and what I could test myself.</p>

        <p>The idea of the app is now something I am pursuing in the real world – I am starting to learn to code in Swift, and have acquired the social media accounts. I intend to develop the app, and market it myself over the coming year. What you see here was created and exported entirely from Sketch – then entered into InVision to create the working prototype at the bottom of the page.</p>

        <p>Put simply, the app helps musicians to acquire business, and people who need talented artists to find them. The app allows people to post jobs, and post pay details, or expenses. They also include the skills they require, and what level they need them to be. The musician has a profile which includes all of this information.</p>
      </div>
    </div>
  </div>
  
  <div class="images">
    <div class="entry__images"></div>

    <div class="entry__images"></div>

    <div class="entry__images"></div>
  </div>

  <div class="row button--container">
    <a href="work.html"><button class="btn--secondary">Back to Projects</button></a>
  </div>

  <div class="container">
    <div class="row footer">
      <div class="item footer__social">
        <a href="https://twitter.com/mattgibbs69"><i class="fa fa-twitter fa-fw fa-lg social__icon" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/mattgibbs69"><i class="fa fa-instagram fa-fw fa-lg social__icon" aria-hidden="true"></i></a>
        <a href="https://uk.linkedin.com/in/m4ttg1bbs"><i class="fa fa-linkedin fa-fw fa-lg social__icon" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="item footer__copyright">
        <footer>
        <p class="copyright"><small>&copy; Matt Gibbs <script>document.write(new Date().getFullYear())</script></small></p>
        </footer>
      </div>
    </div>
  </div>

  <div class="breakpoint"></div>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  <!-- Javascript -->
  <script src="assets/js/load.js"></script>

</body>
</html>