<!DOCTYPE html>
<!--[if IE 10]><!--> <html class="no-js ie10" lang="en"> <!--<![endif]-->
<html class="no-js" lang="en">
<head>

  <!-- Set js class -->
  <script>document.documentElement.className = document.documentElement.className.replace("no-js","js");</script>

  <!--FontAwesome-->
  <script src="https://use.fontawesome.com/1a9a355d40.js"></script>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">

  <title>Portfolio - MG</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="home" href="{{ siteUrl }}" />

  <!-- Stylesheet -->
  <link rel="stylesheet" href="assets/css/main.css">

  <!-- Fonts -->
  <!-- Typekit here -->

  <!-- Theme colours and icons -->
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
  <meta name="apple-mobile-web-app-title" content="">
  <meta name="application-name" content=""/>
  <meta name="theme-color" content="#">
</head>
<body class="gri-test">
  
  <!-- Browser upgrade -->
  <!--[if lte IE 10]>
    <p class="browserupgrade">You are using an outdated browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
    <header class="container container--navigation" role="banner">
      <div  class="row header">
        
        <div class="item header__brand">
          <div class="nav__toggle">
                <img class="nav__button" src="assets/images/nav.png">  
          </div>

          <div class="header__logo">
              <a href="/" class="logo">
                <img class="site-logo" src="assets/images/logo.png">
              </a>    
          </div>
        </div>
      
      
        <div class="item navigation">
            <nav class="header__nav" id="nav">
              <ul class="nav--primary" role="navigation">
                <li class="nav__item active"><a class="nav__link" href="/work">Work</a></li>
                <li class="nav__item"><a class="nav__link" href="/about">About</a></li>
                <li class="nav__item"><a class="nav__link" href="/contact">Contact</a></li>
              </ul>
            </nav>
          </div>
      </div>
      
    </header>

  <div class="container">
    <div class="row">

      <div class="item item--twothirds top__headline title">
        <h2 class="title">Work</h2>
      </div>
    </div>
  </div>
      
  <div class="container">
    <div class="row work__page">

      <div class="item project work__entry" data-image="url(../images/project1.png)" data-color="#DF006A">
        <div class="work__description">
          <svg height="2" width="20">
            <line x1="0" y1="0" x2="20" y2="0" class="work__line"/>
          </svg>
          <h3 class="work__heading">Cadenza</h3>
          <p class="work__summary">An application and Invision protoype connecting musicians to their next gigs.</p>
          <ul class="work__list">
            <li>UI/UX Design</li>
            <li>Sketch Design</li>
            <li>Invision Prototyping</li>
          </ul>
          <a href="work_entry.html"><button class="btn">View more...</button></a>
        </div>
      </div>

      <div class="item project work__entry">
        <div class="work__description">
          <svg height="2" width="20">
            <line x1="0" y1="0" x2="20" y2="0" class="work__line"/>
          </svg>
          <h3 class="work__heading">Ambio</h3>
          <p class="work__summary">Future technology project utilising ambient intellgience in a home environment.</p>
          <ul class="work__list">
            <li>UI Design</li>
            <li>Emerging Technology Development</li>
            <li>Branding</li>
          </ul>
          <a href="work_entry.html"><button class="btn">View more...</button></a>
        </div>
      </div>

      <div class="item project work__entry">
        <div class="work__description">
          <svg height="2" width="20">
            <line x1="0" y1="0" x2="20" y2="0" class="work__line"/>
          </svg>
          <h3 class="work__heading">Cosmos</h3>
          <p class="work__summary">Branding, and proposal project for a new premium petrol retail brand.</p>
          <ul class="work__list">
            <li>Branding</li>
            <li>Sketch Design</li>
            <li>Presentation</li>
          </ul>
          <a href="work_entry.html"><button class="btn">View more...</button></a>
        </div>
      </div>

      <div class="item project work__entry">
        <div class="work__description">
          <svg height="2" width="20">
            <line x1="0" y1="0" x2="20" y2="0" class="work__line"/>
          </svg>
          <h3 class="work__heading">Apply Ignorance</h3>
          <p class="work__summary">Storytelling through the web using an Adobe Muse scrolling website format.</p>
          <ul class="work__list">
            <li>Adobe Muse</li>
            <li>Illustration</li>
            <li>Website Development</li>
          </ul>
          <a href="work_entry.html"><button class="btn">View more...</button></a>
        </div>
      </div>

      <div class="item project work__entry">
        <div class="work__description">
          <svg height="2" width="20">
            <line x1="0" y1="0" x2="20" y2="0" class="work__line"/>
          </svg>
          <h3 class="work__heading">Badnoise</h3>
          <p class="work__summary">Responsive web application development project for a music streaming service.</p>
          <ul class="work__list">
            <li>Webapp Development</li>
            <li>PHP, SQL, jQuery, HTML and CSS</li>
            <li>Sketch UI Design</li>
          </ul>
          <a href="work_entry.html"><button class="btn">View more...</button></a>
        </div>
      </div>

      <div class="item project work__entry">
        <div class="work__description">
          <svg height="2" width="20">
            <line x1="0" y1="0" x2="20" y2="0" class="work__line"/>
          </svg>
          <h3 class="work__heading">Photography</h3>
          <p class="work__summary">A selection of my personal and professional photographs.</p>
          <ul class="work__list">
            <li>Studio Lighting</li>
            <li>Landscape Photography</li>
            <li>Freelance Photography</li>
          </ul>
          <a href="work_entry.html"><button class="btn">View more...</button></a>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="row footer">
      <div class="item footer__social">
        <a href="https://twitter.com/mattgibbs69"><i class="fa fa-twitter fa-fw fa-lg social__icon" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/mattgibbs69"><i class="fa fa-instagram fa-fw fa-lg social__icon" aria-hidden="true"></i></a>
        <a href="https://uk.linkedin.com/in/m4ttg1bbs"><i class="fa fa-linkedin fa-fw fa-lg social__icon" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="item footer__copyright">
        <footer>
        <p class="copyright"><small>&copy; Matt Gibbs <script>document.write(new Date().getFullYear())</script></small></p>
        </footer>
      </div>
    </div>
  </div>

  <div class="breakpoint"></div>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  <!-- Javascript -->
  <script src="assets/js/load.js"></script>

</body>
</html>